body {
  background-color: lightcyan;
}

.b {
  background-color: darkblue;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

a button {
  color: white;
}

.container {
  text-align: center;
  width: auto;
  margin: auto;
}