html {
	--primary: darkblue;
	--secondary: lightcyan;
	--link: blue;
	--link-visited: blueviolet;
	--link-active: #af2323;
}

html.dark {
	color: white;
	--primary: #a0f;
	--secondary: #020202;
	--link: orange;
	--link-visited: darkorange;
	--link-active: mediumvioletred;
}

body {
  background-color: var(--secondary);
}

.b {
  background-color: var(--primary);
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
	color: white !important;
	text-decoration: none;
	font-family: sans-serif;
}

:any-link {
	color: var(--link);
}

:any-link:visited {
	color: var(--link-visited);
}

:any-link:active {
	color: var(--link-active);
}

iframe {
	border: none;
}

main,
.header {
  text-align: center;
}